asciitree==0.3.3
astroid==4.0.4
black==25.12.0
bytecode==0.17.0
certifi==2025.10.5
charset-normalizer==3.4.3
click==8.3.1
colorama==0.4.6
coverage==7.13.3
dill==0.4.1
docstring_parser==0.17.0
idna==3.10
iniconfig==2.3.0
Jinja2==3.1.6
libcst==1.8.6
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
multiprocess==0.70.19
mypy_extensions==1.1.0
networkx==3.6.1
packaging==26.0
pathspec==1.0.4
platformdirs==4.5.1
pluggy==1.6.0
psutil==7.2.2
Pygments==2.19.2
pynguin==0.45.0
pytest==8.4.2
pytokens==0.4.1
PyYAML-ft==8.0.0
requests==2.32.5
rich==14.3.2
rstr==3.2.2
setuptools==80.10.2
simple-parsing==0.1.8
toml==0.10.2
typing-inspect==0.9.0
typing_extensions==4.15.0
urllib3==2.5.0
